<header id="header">
    <nav class="header-top bg-secondary py-1">
        <div class="container-fluid padding-side">
            <p class="text-center mt-3">Liên hệ hỗ trợ nhanh Hotline, Zalo: 0934.151.103</p>
        </div>
    </nav>
    <nav id="primary-header" class="navbar navbar-expand-lg py-4">
        <div class="container-fluid padding-side">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand" href="">
                    <img src="assets/images/main-logo.jpg" width="80px" height="80px" class="logo img-fluid">
                </a>
                <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar"
                    aria-expanded="false">
                    <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                        <path
                            d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z" />
                    </svg>
                </button>
                <div class="header-bottom offcanvas offcanvas-end " id="bdNavbar"
                    aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-header px-4 pb-0">
                        <button type="button" class="btn-close btn-close-black mt-2" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                    </div>
                    <div class="offcanvas-body align-items-center justify-content-center">
                        <div class="search d-block d-lg-none m-5">
                            <form class=" position-relative">
                                <input type="text" class="form-control bg-secondary border-0 rounded-5 px-4 py-2"
                                    placeholder="Search...">
                                <a href="#" class="position-absolute top-50 end-0 translate-middle-y p-1 me-3">
                                    <svg class="" width="20" height="20">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </a>
                            </form>
                        </div>
                        <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
                            <li class="nav-item px-3">
                                <a class="nav-link active p-0" aria-current="page" href="">Trang chủ</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="/products">Sản Phẩm</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="/blog/huong-dan-treo-tranh-canvas">Bài viết</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="/about">Liên hệ</a>
                            </li>
                            <li class="nav-item px-3 dropdown">
                                <a class="nav-link p-0 dropdown-toggle text-center " data-bs-toggle="dropdown" href="#"
                                    role="button" aria-expanded="false">Sản phẩm khác</a>
                                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                                    <li>
                                        <a
                                            routerLink="/products"
                                            [queryParams]="{
                                                type: 'SonDau',
                                                page: 1,
                                                category: null,
                                                categories: null
                                            }"
                                            class="dropdown-item"
                                        >
                                            Tranh Sơn Dầu
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            routerLink="/products"
                                            [queryParams]="{
                                                type: 'Canvas',
                                                page: 1,
                                                category: null,
                                                categories: null
                                            }"
                                            class="dropdown-item"
                                        >
                                            Tranh Canvas
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            routerLink="/products"
                                            [queryParams]="{
                                                type: 'TrangGuong',
                                                page: 1,
                                                category: null,
                                                categories: null
                                            }"
                                            class="dropdown-item"
                                        >
                                            Tranh Tráng Gương
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search d-lg-block d-none">
                    <form class=" position-relative">
                        <input type="text" class="form-control bg-secondary border-0 rounded-5 px-4 py-2"
                            placeholder="Tìm kiếm...">
                        <a href="#" class="position-absolute top-50 end-0 translate-middle-y p-1 me-3">
                            <svg class="" width="20" height="20">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>