<header id="header">
    <!-- <nav class="header-top bg-secondary py-1">
        <div class="container-fluid padding-side">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <ul class="info d-flex flex-wrap list-unstyled m-0">
                    <li class="location text-capitalize d-flex align-items-center me-4" style="font-size: 14px;">
                        <svg class="color me-1" width="15" height="15">
                            <use xlink:href="#location"></use>
                        </svg>State Road 54 Trinity, Florida
                    </li>
                    <li class="phone d-flex align-items-center me-4" style="font-size: 14px;">
                        <svg class="color me-1" width="15" height="15">
                            <use xlink:href="#phone"></use>
                        </svg>+666 333 9999
                    </li>
                    <li class="time d-flex align-items-center me-4" style="font-size: 14px;">
                        <svg class="color me-1" width="15" height="15">
                            <use xlink:href="#email"></use>
                        </svg>yourinfo
                    </li>
                </ul>
                <ul class="social-links d-flex flex-wrap list-unstyled m-0 ">
                    <li class="social">
                        <a href="#">
                            <svg class="social" width="16" height="16">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social ms-4">
                        <a href="#">
                            <svg class="social" width="16" height="16">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social ms-4">
                        <a href="#">
                            <svg class="social" width="16" height="16">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social ms-4">
                        <a href="#">
                            <svg class="social" width="16" height="16">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social ms-4">
                        <a href="#">
                            <svg class="social" width="16" height="16">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <nav id="primary-header" class="navbar navbar-expand-lg py-4">
        <div class="container-fluid padding-side">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/main-logo.jpg" width="80px" height="80px" class="logo img-fluid">
                </a>
                <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar"
                    aria-expanded="false">
                    <svg class="navbar-icon" width="60" height="60">
                        <use xlink:href="#navbar-icon"></use>
                    </svg>
                </button>
                <div class="header-bottom offcanvas offcanvas-end " id="bdNavbar"
                    aria-labelledby="bdNavbarOffcanvasLabel">
                    <div class="offcanvas-header px-4 pb-0">
                        <button type="button" class="btn-close btn-close-black mt-2" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                    </div>
                    <div class="offcanvas-body align-items-center justify-content-center">
                        <div class="search d-block d-lg-none m-5">
                            <form class=" position-relative">
                                <input type="text" class="form-control bg-secondary border-0 rounded-5 px-4 py-2"
                                    placeholder="Search...">
                                <a href="#" class="position-absolute top-50 end-0 translate-middle-y p-1 me-3">
                                    <svg class="" width="20" height="20">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </a>
                            </form>
                        </div>
                        <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
                            <li class="nav-item px-3">
                                <a class="nav-link active p-0" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="index.html">About</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="index.html">Services</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="index.html">Blog</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link p-0" href="index.html">Contact</a>
                            </li>
                            <li class="nav-item px-3 dropdown">
                                <a class="nav-link p-0 dropdown-toggle text-center " data-bs-toggle="dropdown" href="#"
                                    role="button" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                                    <li><a href="index.html" class="dropdown-item ">About </a>
                                    </li>
                                    <li><a href="index.html" class="dropdown-item ">Room </a>
                                    </li>
                                    <li><a href="index.html" class="dropdown-item">Room-Details
                                        </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Blog </a>
                                    </li>
                                    <li><a href="index.html" class="dropdown-item ">Blog-Single </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Services </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Service-Details
                                        </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Booking </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Gallery </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Contact </a></li>
                                    <li><a href="index.html" class="dropdown-item ">Team </a>
                                    </li>
                                    <li><a href="index.html" class="dropdown-item ">Reviews </a></li>
                                    <li><a href="index.html" class="dropdown-item ">FAQs </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search d-lg-block d-none">
                    <form class=" position-relative">
                        <input type="text" class="form-control bg-secondary border-0 rounded-5 px-4 py-2"
                            placeholder="Search...">
                        <a href="#" class="position-absolute top-50 end-0 translate-middle-y p-1 me-3">
                            <svg class="" width="20" height="20">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>